@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.singlePurposeContainer {
  background: linear-gradient(#FCFCFC 50%, #BDE4E4);
}

.twoColGrid {
  padding-top: 212px;
  margin-top: -139px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;

  @media (--media-max-medium) {
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin-top: -73px;
    padding-top: 73px;
  }

  @media (--media-max-small) {
    grid-gap: 15px;
  }
}

.twoColGrid:nth-child(2) {
  padding-bottom: 164px;
  padding-top: 48px;
  margin-top: 0;

  @media (--media-max-small) {
    padding-bottom: 50px;
  }
}

.singlePurposeImage {
  min-height: 494px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 142px;

  @media (--media-max-large) {
    margin-left: 30px;
  }

  @media (--media-max-medium) {
    min-height: 300px;
    background-position: center center;
    margin-left: 0;
    order: 1;
  }

  @media (--media-max-small) {
    min-height: 210px;
  }
}

.singlePurposeContent {
  max-width: 589px;
  padding-right: 0;
  padding-left: 32px;
  margin-left: auto;
  width: 100%;
  position: relative;
  box-sizing: border-box;

  @media (--media-max-medium) {
    max-width: 100%;
    order: 2;
    padding-right: 32px;
    padding-left: 32px;
  }
}

#purposeFloater {
  position: absolute;
  top: 75px;

  @media (--media-max-medium) {
    position: relative;
    top: 0;
  }
}

.singlePurposeContent .subHeaderGreen {
  font-family: var(--font-family-titles);
  font-size: 24px;
  letter-spacing: 2.3px;
  line-height: 1.1;
  color: var(--color-turquoise);
  margin-bottom: 0;

  @media (--media-max-small) {
    font-size: 16px;
  }
}

.fullTeamImage {
  min-height: 494px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen and (min-width: 1024px) and (max-width: 1220px) {
    min-height: 390px;
  }

  @media (--media-max-large) {
    min-height: 330px;
  }

  @media (--media-max-medium) {
    min-height: 300px;
    background-position: center top;
  }

  @media (--media-max-small) {
    min-height: 210px;
  }
}

.fullTeamContent {
  max-width: 467px;
  padding-right: 0;
  padding-right: 32px;
  margin-left: 142px;
  position: relative;

  @media (--media-max-large) {
    margin-left: 30px;
  }

  @media (--media-max-medium) {
    max-width: 100%;
  }

  @media (--media-max-small) {
    padding-right: 32px;
    padding-left: 32px;
    margin-left: 0;
  }
}

#purpose2Floater {
  position: absolute;
  top: 150px;

  @media (--media-max-medium) {
    position: relative;
    top: 0;
  }
}

