@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.rootFullWidth {
  background: linear-gradient(#10446E, #0A2949);
  padding-top: 120px;

  @media (--media-max-small) {
    padding-top: 0;
  }
}

.twoColGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
  max-width: 1000px;
  margin: 0 auto 60px auto;

  @media (--media-max-medium) {
    grid-gap: 30px;
  }

  @media (--media-max-small) {
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin: 0 auto 60px auto;
  }
}

.infrastructureTitle {
  padding-top: 10px;

  @media (--media-max-small) {
    text-align: center;
  }

  @nest & h2 {
    margin-bottom: 10px;
    -webkit-text-stroke-color: var(--color-white);

    @media (--media-max-small) {
      -webkit-text-fill-color: var(--color-white);
      -webkit-text-stroke-color: transparent;
    }
  }
  
  @nest & .subHeaderGreen {
    font-family: var(--font-family-titles);
    font-size: 24px;
    letter-spacing: 2.3px;
    line-height: 1.1;
    color: var(--color-turquoise);
    margin-top: 0;
  
    @media (--media-max-small) {
      font-size: 16px;
    }
  }
}

.infrastructureContent {
  @nest & h3 {
    color: var(--color-turquoise);
    font-family: var(--font-family-titles);
    font-size: 28px;
    letter-spacing: 2.69px;
    margin-bottom: 12px;
    font-weight: 400;

    @media (--media-max-small) {
      color: var(--color-turquoise);
      font-size: 22px;
      letter-spacing: 2.12px;
    }
  }

  @nest & p {
    margin-top: 0;
    margin-bottom: 32px;
    color: var(--color-white);

    @media (--media-max-small) {
      margin-bottom: 48px;
    }
  }
}
