@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.rootFullWidth {
  padding-top: 232px;
  padding-bottom: 175px;
  margin-top: -135px;
  background: linear-gradient(#10446E, #0A2949);

  @media (--media-max-small) {
    padding: 59px 0 85px 0;
    margin-top: -59px;
  }
}

.contactContent h2 {
  -webkit-text-stroke-color: var(--color-white);

  @media (--media-max-small) {
    color: var(--color-white);
    -webkit-text-fill-color: var(--color-white);
    -webkit-text-stroke-color: transparent;
  }
}

.contactContent p {
  font-size: 17px;
  color: var(--color-light-turquoise);
  line-height: 1.5;
  margin-bottom: 72px;
}

.contactContent form {
  max-width: 708px;
}

.contactContent .hidden {
  display: none;
}

.contactContent .twoColFields {
  display: flex;
  justify-content: space-between;

  @media (--media-max-small) {
    flex-direction: column;
  }
}

.contactContent input[type="text"],
.contactContent input[type="email"],
.contactContent textarea {
  display: block;
  box-sizing: border-box;
  background-color: transparent;
  border-bottom: 3px solid var(--color-light-turquoise);
  border-top: none;
  border-right: none;
  border-left: none;
  font-family: var(--font-family-sans);
  font-size: 17px;
  color: var(--color-light-turquoise);
}

.contactContent input[type="text"] {
  width: 48%;
  margin-bottom: 36px;

  @media (--media-max-small) {
    width: 100%;
  }
}

.contactContent input[type="email"] {
  width: 48%;
  margin-bottom: 36px;

  @media (--media-max-small) {
    width: 100%;
  }
}

.contactContent input[name="company"] {
  width: 100%;
  margin-bottom: 60px;
}

.contactContent textarea {
  border: 3px solid var(--color-light-turquoise);
  width: 100%;
  padding: 10px;
  height: 152px;
  margin-bottom: 60px;
}

.contactContent input[type="text"]:focus,
.contactContent input[type="email"]:focus,
.contactContent textarea:focus {
  border-bottom: 3px solid var(--color-white);
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  color: var(--color-white);
}

.contactContent textarea:focus {
  border: 3px solid var(--color-white);
}

.contactContent ::-webkit-input-placeholder { /* Edge */
  color: var(--color-light-turquoise);
}

.contactContent :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--color-light-turquoise);
}

.contactContent ::placeholder {
  color: var(--color-light-turquoise);
}

.contactContent button {
  border: 3px solid var(--color-tuscany);
  background-color: transparent;
  padding: 16px 60px;
  min-width: 128px;
  font-size: 14px;
  font-family: var(--font-family-headings);
  color: var(--color-light-gray);
  text-transform: uppercase;
  text-decoration: none;

  @media (--media-max-small) {
    margin: 0 auto;
    display: block;
  }
}

.contactContent button:hover {
  background-color: var(--color-tuscany);
  color: var(--color-white);
}

