@import "../../styles/custom-media.css";
@import "../../styles/custom-properties.css";

.rootFullWidth {
  padding-top: 85px;
  padding-bottom: 130px;
  text-align: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (--media-max-small) {
    padding-top: 50px;
    padding-bottom: 85px;
  }
}

.downloadContent h2 {
  -webkit-text-stroke-color: var(--color-dark-blue);
  max-width: 600px;
  margin: 0 auto;

  @media (--media-max-small) {
    font-size: 28px;
    color: var(--color-dark-blue);
    -webkit-text-fill-color: var(--color-dark-blue);
    -webkit-text-stroke-color: transparent;
  }
}

.downloadContent p {
  font-size: 17px;
  color: var(--color-dark-blue);
  line-height: 1.5;
  max-width: 500px;
  margin: 22px auto 52px auto;
}

.downloadContent form {
  max-width: 470px;
  margin: 0 auto;
}

.downloadContent .hidden {
  display: none;
}

.downloadContent .twoColFields {
  display: flex;
  justify-content: space-between;

  @media (--media-max-small) {
    flex-direction: column;
  }
}

.downloadContent input[type="text"],
.downloadContent input[type="email"],
.downloadContent textarea {
  display: block;
  box-sizing: border-box;
  background-color: transparent;
  border-bottom: 3px solid var(--color-white);
  border-top: none;
  border-right: none;
  border-left: none;
  font-family: var(--font-family-sans);
  font-size: 17px;
  color: var(--color-white);
}

.downloadContent input[type="text"] {
  width: 48%;
  margin-bottom: 36px;

  @media (--media-max-small) {
    width: 100%;
  }
}

.downloadContent input[type="email"] {
  margin-bottom: 36px;
  width: 100%;
}

.downloadContent input[name="company"] {
  margin-bottom: 58px;
  width: 100%;
}

.downloadContent input[type="text"]:focus,
.downloadContent input[type="email"]:focus,
.downloadContent textarea:focus {
  border-bottom: 3px solid var(--color-dark-blue);
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  color: var(--color-dark-blue);
}

.downloadContent ::-webkit-input-placeholder {
  /* Edge */
  color: var(--color-white);
}

.downloadContent :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--color-white);
}

.downloadContent ::placeholder {
  color: var(--color-white);
}

.downloadContent ::-webkit-input-placeholder:focus {
  /* Edge */
  color: var(--color-dark-blue);
}

.downloadContent :-ms-input-placeholder:focus {
  /* Internet Explorer 10-11 */
  color: var(--color-dark-blue);
}

.downloadContent ::placeholder:focus {
  color: var(--color-dark-blue);
}

.downloadContent button {
  border: 3px solid var(--color-tuscany);
  background-color: transparent;
  padding: 16px 60px;
  min-width: 128px;
  font-size: 14px;
  font-family: var(--font-family-headings);
  color: var(--color-white);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
}

.downloadContent button:hover {
  background-color: var(--color-tuscany);
  color: var(--color-white);
}
