@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.twoColGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
  margin-top: -139px;
  margin-bottom: -69px;
  padding-top: 232px;
  background: linear-gradient( #BDE4E4, #E9F5F5);

  @media (--media-max-large) {
    margin-top: -65px;
    padding-top: 139px;
  }

  @media (--media-max-medium) {
    grid-template-columns: 1fr;
    margin-top: -65px;
    padding-top: 65px;
  }
}

.apprenticeProgramImage {
  min-height: 647px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 142px;

  @media (--media-max-large) {
    margin-right: 32px;
  }

  @media (--media-max-medium) {
    min-height: 300px;
    order: 1;
    margin-right: 0;
    margin-bottom: 30px;
    background-position: top left;
  }

  @media (--media-max-small) {
    min-height: 269px;
  }
}

.apprenticeProgramContent {
  max-width: 588px;
  padding-right: 32px;
  padding-bottom: 115px;
  position: relative;

  @media (--media-max-medium) {
    max-width: 100%;
    padding: 0 32px 120px 32px;
    order: 2;
  }

  @nest & h2 {
    margin-bottom: 0;
  
    @media (--media-max-small) {
      font-size: 28px;
      color: var(--color-dark-blue);
      -webkit-text-fill-color: var(--color-dark-blue);
      -webkit-text-stroke-color: transparent;
      margin-top: 32px;
    }
  }

  @nest & .subHeaderGreen {
    font-family: var(--font-family-titles);
    font-size: 24px;
    letter-spacing: 2.3px;
    line-height: 1.1;
    color: var(--color-turquoise);
    margin-top: 0;
    margin-bottom: 40px;
  
    @media (--media-max-small) {
      font-size: 16px;
      margin-bottom: 17px;
    }
  }

  @nest & .button {
    border: 3px solid var(--color-tuscany);
    background-color: transparent;
    padding: 16px 27px;
    font-size: 14px;
    font-family: var(--font-family-headings);
    color: var(--color-dark-blue);
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 40px;
    display: inline-flex;
  
    @media (--media-max-small) {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      line-height: 1;
    }
  }

  @nest & .button:hover {
    background-color: var(--color-tuscany);
    color: var(--color-white);
  }

  @nest & .greenBlueLines {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

#programFloater {
  position: absolute;
  top: 0;
}

