@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.headline {
  font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 2rem 0;
}

.grid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 22px;
  grid-auto-rows: 1fr;
  margin-bottom: 80px;

  @media (--media-min-small) {
    grid-template-columns: 1fr 1fr;
  }

  @media (--media-max-small) {
    margin-bottom: 50px;
  }

  @media (--media-min-medium) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid li {
  background: linear-gradient(#95D5D4, #DDDFE4);
}

.grid li:hover {
  box-shadow: 10px 10px 25px 0 rgba(0,0,0,.1);
}

.grid li[datacat="Case Study"] {
  background: linear-gradient(#95D5D4, #DDDFE4);
}

.grid li[datacat="News"] {
  background: linear-gradient(#E5897F, #DDDFE4);
}

.grid li[datacat="Blog"] {
  background: linear-gradient(#7E97AD, #DDDFE4);
}


